.zero-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    hr {
        border: 1px solid #FF8303;
        border-radius: 8px;
        margin: 10px;
    }

    p {
        font-family: 'Inter';
        color: #FFFFFF;
        font-size: 24px;
  
    }
}

.to-do-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

        div {
            display: flex;
            justify-content: space-between;
            border: 2px solid #FF8303;
            border-radius: 8px;
            padding: 8px;
            margin: 20px;
        }

        .text-task {
            display: flex;
            flex-direction: column;
            color: #FFFFFF;
            border: none;
        }

        .delete-button {
            display: flex;
            justify-content: end;
            border: none;

            button {
                width: 32px;
                height: 32px;
                background-color: #242320;
                border: 1px solid #FF8303;
                border-radius: 4px;
            }
        }

}


